.carousel {
    display: none;
}

@media screen and (min-width: 1200px) {
    .carousel {
        display: unset;
        width: 20vw;
    }

    .carousel__menu {
        display: flex;
        width: 20vw;
    }

    .carousel__arrow {
        fill: var(--secondary-color);
    }

}
