.theme-light:root {
    --bg-header-color: #ED6C6D;
    --shadow-header-color: #EB8080;
    --background-color: #FFFFFF;
    --primary-color: rgb(83, 83, 83);
    --secondary-color: rgb(83, 99, 144);
    --ternary-color: #C7C7C7;
    --secondary-color-transparent: rgba(83, 99, 144, .7);
}

.theme-dark:root {
    /* Background colors */
    --bg-header-color:#122044;
    --shadow-header-color:#536390;
    --background-color: #0B0920;

    /* Text colors */
    --primary-color: #E1E1FF;
    --secondary-color: #818CAB;
    --secondary-color-transparent: rgba(129, 140, 171, .7);
    --ternary-color: #818CAB;
}

:root {
    /* Navbar and footer size vh */
    --height-header-sm: 10vh; 
    --height-header-md: 11vh;
    --height-header-lg: 12vh;
    --height-header-lf: 14vh;
}

