.theme-light:root {
    --background-color: rgb(83, 83, 83);
    --primary-color: #C7C7C7;
    --secondary-color: #536390;
    --heading-color: #ED6C6D;
}

.theme-dark:root {
    --background-color: #161625;
    --primary-color: #E1E1FF;
    --secondary-color: #818CAB;
    --heading-color: #122044;
}
