/* Police */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HTML reset */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-size: CALC(1em * 0.8);
    font-weight: bold;
}

/* Bouton Burger==>X */

.burger{
    z-index: 100;
    top: 0;
    position: absolute;
    cursor: pointer;
    width: 66px;
    height: 66px;
    line-height: 66px;
    background-color: #ED6C6D;
}

.burger span{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    display: block;
    width: 2.8rem;
    height: 3px;
    background-color: #FFFFFF;
    transition: background-color 0.4s ease-in-out;
    margin: auto 1rem;
    border-radius: 2px;
}
.burger span::before, .burger span::after {
    content:'';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    transition: transform 0.4s ease-in-out;
    border-radius: 2px;
}
.burger span::before{
    transform: translateY(-10px);
}
.burger:hover > ::before{
    transform: translateY(-12px);
}
.burger span::after{
    transform: translateY(10px);
}
.burger:hover > ::after{
    transform: translateY(12px);
}
.burger.active span {
    background-color: transparent;
}
.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}
.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/* Navbar */

.navbar-menu{
    background-color: chartreuse;
    position: absolute;
    left: 66px;
    width: 100%;
    height: 66px;
    line-height: 66px;
    display: flex;
    flex-direction: row;
}
.logo, .title, .menu{
    display: flex;
}
.logo{
    background-color: crimson;
    width: 66px;

}
.logo-img{
    width: 66px;
    height: 66px;
}