body{
    margin: 0;
    padding: 0;
}

#body-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
}

#main-container{
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    min-height: 100%;
}

.profil-img{
    width: 30%;

}

.item{
    height: 20vh;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.invert{
    flex-direction: row-reverse;
    text-align: start;
}

.item h3, .item p{
    height: 50%;
    margin: 0;
}

.profil-description{
    flex-direction: column;
}

.invert-description{
    text-align: end;
}

.text-description{
    display: none;
}